<p id="notice"><%= notice %></p>
<style>
#index-view-image img {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  max-width: 100px;
  max-height: 100px;
}
</style>

<h1>Albums</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <!--<th>Review</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if @albums %>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.user.name %></td>
          <td><%= album.name %></td>
          <!--<td><%= album.review %></td>-->
          <td><%= link_to 'Show', album %></td>
          <td><%= link_to 'Edit', edit_album_path(album) %></td>
          <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
